@import './../../styles/variables.scss';

.salary {
  padding: 60px 0;
  color: $white;

  .title {
    width: 500px;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 10px;

    // span {
    //   color: $blue
    // }
  }

  .text {
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 50px;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      flex-direction: column;
      gap: 20px 0;

      .head {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 540px;
        height: 140px;
        padding: 10px;
        border-radius: 10px;

        p {
          font-size: 24px;
          font-weight: 500;
        }
      }

      .bottom {
        width: 540px;
        height: 140px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        
        h3 {
          font-size: 24px;
          font-weight: 500;
          margin-bottom: 10px;
        }

        p {
          text-align: center;
          font-size: 20px;
          font-weight: 400;
        }
      }
    }

    .right {
      width: 540px;
      padding: 20px;
      border-radius: 10px;

      .card {
        
        .group {
          display: flex;
          align-items: center;
          gap: 0 20px;
          margin-bottom: 20px;

          p {
            padding: 10px 20px;
            width: 250px;
            border-radius: 10px;
            font-size: 22px;
            font-weight: 500;
            background: $bg;
          }

          span {
            font-size: 20px;
            font-weight: 500;
          }

        }
      }

      .description {
        width: 418px;
        font-size: 20px;
        font-weight: 400;
      }
    }
  }
}
