@import './../../../styles/variables.scss';

.account {
  height: 65vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white;

  .text {
    width: 600px;

    h1 {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 50px;
    }

    p {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 60px;
    }

    // a {
    //   padding: 15px 60px;
    //   border-radius: 10px;
    //   font-size: 20px;
    //   font-weight: 500;
    //   font-family: 'Inter';
    //   background: $blue;
    //   color: $white;
    //   cursor: pointer;
    //   transition: 0.15s;
    // }

    .btnWidth {
      width: 270px;
    }

    a:hover {
      background-color: $blueHover;
    }
  }
}
