@import './../../../styles/variables.scss';

.card {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid $white;
  cursor: pointer;

  .group {
    display: flex;
    gap: 0 30px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
  }

  .text {
    font-size: 16px;
    color: $red;
  }
}
