@import './../../../styles/variables.scss';

.ListMyCours {
  min-height: 65vh;
  color: $white;

  .title {
    font-size: 32px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .nav {
    margin-bottom: 30px;
    ul {
      display: flex;
      gap: 0 20px;
      li {
      }
    }
  }

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      animation: rotate 4s linear infinite;
    }
  }

  .group {
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .rotate-image {
    animation: rotate 4s linear infinite;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
  }
}
