.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    color: white;
    border: 1px solid white;
    cursor: pointer;
  }
}
