@import './../../../styles/variables.scss';

.cardLearnMyCours {
  width: 322px;
  padding: 20px;
  border: 1px solid $white;
  border-radius: 10px;
  color: $white;
  cursor: pointer;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: auto;
    min-height: 105px;
    h3 {
      // margin-bottom: 60px;
      font-size: 20px;
      font-weight: 400;
    }

    p {
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 5px;
    }

    .prograss {
      width: 100px;
      height: 3px;
      background-color: $blue;
    }
  }

  // h3 {
  //   font-size: 20px;
  //   font-weight: 400;
  //   margin-bottom: 60px;
  // }

  // p {
  //   font-size: 12px;
  //   font-weight: 400;
  //   margin-bottom: 5px;
  // }

  // .prograss {
  //   width: 100px;
  //   height: 3px;
  //   background-color: $blue;
  // }
}
