.coursModules {
  min-height: 65vh;
  color: white;

  .title {
    margin-bottom: 30px;
    font-size: 30px;
    font-family: 600;
  }

  .nav {
    display: flex;
    gap: 0 20px;
    margin-bottom: 20px;

    .link {
      font-family: 'Inter';
      color: white;
      cursor: pointer;
      transition: 0.15s ease-in;
    }

    .link:hover {
      color: rgb(182, 33, 33);
    }

    .link.active {
      color: rgb(182, 33, 33);
    }
  }

  .wrapper {
    display: flex;
    gap: 20px 20px;
    flex-wrap: wrap;

    .loading {
      // text-align: center;
      display: flex;
      justify-content: center;
      font-size: 40px;
    }

    .card {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 171px;
      border: 1px solid white;
      border-radius: 10px;
    }
  }
}
