@import './../../styles/variables.scss';


.feedback {
  padding: 60px 0;
  color: $white;

  .wrapper {
    display: flex;
    justify-content: space-between;

    .text {
      width: 600px;
      h1 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 25px;
      }

      p {
        font-size: 22px;
        font-weight: 700;
      }
    }

    .button {
      font-size: 16px;
      font-weight: 500;
      margin-top: auto;

      button {
        padding: 15px 32px;
        border-radius: 10px;
        background: $blue;
        cursor: pointer;
        color: $white;
        width: 300px;
      }
    }
  }
}